#profile-pic {
    height: 70%;
    border-radius: 50%;
    border: 3px solid #003f88;
}

.blue-outline{
    border: 3px #00509d solid;
    
}


h3 {
    background-color: #00509d;
    width: 600px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

h1 {
    font-size: 75px;
}