<!-- Hero Section -->
<section>
<div id="hero">
    <h1 class="pt-5">INTERACTIVE. ENGAGING. SIMPLE.</h1>
    <h2>Fully planned activities, so you don't have to.</h2>
</div>
</section>

<!-- Freebie Section -->
<section>
<div id="freebie" class="m-4">
    <div class="yellow-outline pb-4">
        <h3 class="p-2">Self-Checking Online Math Puzzles</h3>
        <div class="free-info p-4 row">
            <div class="free-img col-6 offset-3">
                <img [src]="free" id="freebie-img">
               
            </div>
        
            <div class="email-list col-6">
                <p>Download a FREE Online Math Puzzle, straight from your inbox!</p>
                <form [formGroup]="freebieForm">
                    <!-- Name -->
                    <input type="text" placeholder="Name" formControlName="name"><br> 
                    <span *ngIf="name.touched && name.errors?.['required']">A name is required</span>
                    <span *ngIf="name.dirty && name.errors?.['minlength']">Name must be at least 2 characters long</span><br>
                    
                    <!-- Email -->
                    <input type="text" placeholder="Email" formControlName="email"><br>
                    <span *ngIf="email.touched && name.errors?.['required']">An email is required</span>
                    <span *ngIf="email.dirty && name.errors?.['email']">Please provide a valid email address</span><br>

                    <button type="button" class="btn btn-primary" [disabled]="freebieForm.invalid" (click)="onSubmit()">Submit</button>

                </form>
            </div>
            
        </div>
    </div>

</div>
</section>

<!-- Products Section -->
<section>
<div id="freebie" class="m-4">
    <div class="yellow-outline pb-4">
        <h3 class="p-2">Shop Our Products</h3>
        <div class="product-info p-4 row ">
            <!-- Preview 1 -->
            <div class="flex-container col-4">
                <img [src]="product1" class="product-img">
            </div>
            <!-- Preview 2 -->
            <div class="flex-container col-4">
                <img [src]="product2" class=" product-img">
            </div>
            <!-- Preview 3 -->
            <div class="flex-container col-4">
                <img [src]="product3" class="product-img">
            </div>
            <button type="button" class="btn btn-primary col-2 offset-5 mt-5" routerLink="/shop">VIEW ALL PRODUCTS</button>
        </div>
       
    </div>

</div>
</section>
