/* #body{
    background-color: rgba(255,189,88, 0.5);
} */
h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

h2 {
    text-align: center;
    font-size: 45px;
}

#hero {
    background-image: url('/assets/hero.jpg');
    background-repeat: repeat;
    background-size: contain;
    width: 100vw;
    height: 600px;
}

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
    height: 100% !important;
    width:  90% !important;
    margin-left: auto;
    margin-right: auto
  }

#hero-carousel{
    width: 100vw;

} 

img {
    width: 100vw;
    height: 60vh;
  
}

.yellow-outline{
    border: 3px #004AAD solid;
    background-color: white;
    width: 91%;
    margin-left: auto;
    margin-right: auto
}

h3 {
    background-color: #004AAD;
    width: 600px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    

}

img {
    height: 500px;
    width: 500px;
}


#freebie-img, .product-img {
    width: 250px;
    height: 250px;
}

.free-img, .email-list {
    width: 350px;
}

.product-info {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}