<div id="body">  

<!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#emailListModal">.</button>

<!-- Modal -->
<div class="modal fade" id="emailListModal" tabindex="-1" aria-labelledby="emailListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Get the Latest Updates from STEAM Vault</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Freebie Form -->
          <div id="freebie" class="my-4">
            <h4 class="text-center">Download a FREE Online Math Puzzle, straight from your inbox!</h4>
              <div class="free-info flex-container">
                <div class="free-img m-2">
                  <img [src]="free" id="freebie-img">
                </div>
      
                <div class="email-list m-2">
                  <form [formGroup]="freebieForm">
                    <!-- Name -->
                    <input type="text" placeholder="Name" formControlName="name"><br>
                    <span *ngIf="name.touched && name.errors?.['required']">A name is required</span>
                    <span *ngIf="name.dirty && name.errors?.['minlength']">Name must be at least 2 characters long</span><br>
      
                    <!-- Email -->
                    <input type="text" placeholder="Email" formControlName="email"><br>
                    <span *ngIf="email.touched && name.errors?.['required']">An email is required</span>
                    <span *ngIf="email.dirty && name.errors?.['email']">Please provide a valid email address</span><br>
      
                    <button type="button" class="btn btn-primary" [disabled]="freebieForm.invalid"
                      (click)="onSubmit()">Submit</button>
      
                  </form>
                </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- Carousel -->
  <section id="hero-carousel">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/hero1.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/2.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/hero3.png" class="d-block w-100 img-fluid" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>



  <!-- Back to School Section -->
  <section>
    <div id="bestseller" class="my-4">
      <div class="yellow-outline pb-4">
        <h3 class="p-2 text-white">Back to School Favourites</h3>
        <div class="free-info p-4 row">
          <div class="bestseller-info p-4 row ">
            <h4 class="text-center mb-4">Get {{salePercent}} off our back to school favourites!</h4>
            <!-- Preview 1 -->
            <div class="flex-container col-lg-4 col-sm-12 mb-3">
              <a href="https://www.teacherspayteachers.com/Product/Middle-School-Back-to-School-Math-Activities-8320756" target="_blank"><img [src]="BTS1" class="product-img img-fluid"></a>
            </div>
            <!-- Preview 2 -->
            <div class="flex-container col-lg-4 col-sm-12 mb-3">
              <a href="https://www.teacherspayteachers.com/Product/Decimal-Math-Reading-and-Ordering-from-a-Menu-Print-Digital-5887501" target="_blank"><img [src]="BTS2" class=" product-img img-fluid"></a>
            </div>
            <!-- Preview 3 -->
            <div class="flex-container col-lg-4 col-sm-12 mb-3">
              <a href="https://www.teacherspayteachers.com/Product/Calculating-Percent-in-the-Stock-Market-8556890" target="_blank"><img [src]="BTS3" class="product-img img-fluid"></a>
            </div>


        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- Products Section -->
  <section>
    <div>
      <div id="products" class="pb-4">
        <div class="yellow-outline pb-4">
          <h3 class="p-2 text-white">Shop Our Products</h3>
          <div class="product-info p-4 row ">
            <!-- Preview 1 -->
            <div class="flex-container col-lg-4 col-sm-12 mb-3">
              <img [src]="product1" class="product-img img-fluid">
            </div>
            <!-- Preview 2 -->
            <div class="flex-container col-lg-4 col-sm-12 mb-3">
              <img [src]="product2" class=" product-img img-fluid">
            </div>
            <!-- Preview 3 -->
            <div class="flex-container col-lg-4 col-sm-12 mb-3">
              <img [src]="product3" class="product-img img-fluid">
            </div>
            <div class="flex-container">
              <button type="button" class="btn btn-warning mx-4 mt-5" routerLink="/shop">VIEW ALL
                PRODUCTS</button>
              <button type="button" class="btn btn-danger mt-5"> <a href="https://www.teacherspayteachers.com/Store/Steam-Vault" target="_blank">VIEW ON TEACHERS PAY
                TEACHERS</a></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>