.cart-item {
    border: 1px solid gray;
    padding: 10px;
}

.cart-total{
    border: 1px solid black;
    padding: 20px;
}

.qty-btn:hover{
    background-color: green;
}

.quantity-amt {
    display: flex;
    justify-content: flex-start;
}

#img-preview{
    width: 150px;
}