<h3 class="text-center">Cart</h3>

<h3>Your Orders</h3>

<div class="cart-total">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col" class="text-center">Product Name</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Subtotal</th>
            <th scope="col" class="text-center">Remove Product</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{product.id}}</th>
            <td class="text-center">{{product.name}}</td>
            <td class="text-center">
              <span class="quantity"><button class="btn btn-warning qty-btn" (click)="dec(product)"><i class="fa-solid fa-minus"></i></button></span>
              <span class="product mx-3">{{product.quantity}}</span>
              <span class="quantity"><button class="btn btn-warning qty-btn" (click)="inc(product)"><i class="fa-solid fa-plus"></i></button></span>
              
            </td>
            <td class="text-center">{{product.price * product.quantity | currency}}</td>
            <td class="text-center"><button type="button" class="btn btn-primary" (click)="removeFromCart(product)">Remove Product</button></td>
          </tr>
        </tbody>
        <tr>
          <th><h4>Total Price: {{total | currency }}</h4></th>
        </tr>
      </table>

    <button type="button" class="btn btn-primary mx-4" (click)="checkout()">Proceed to Checkout</button>
    <button type="button" class="btn btn-danger mx-4" (click)="clearCart()">Clear Cart</button>
    
</div>
