.carousel-container {
    width: 450px;
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}

/* .product-info {
    border: 2px solid #00509d;
} */

h1 {
    text-align: center;
}

#tags {
/* border: solid black 1px; */
background-color: #FBB0AE;
border-radius: 15px;
}

.tag {
    display: inline-block;
    font-weight: bold;
}