<div class="row mt-5 mb-5">
    <h1 class="text-center">Checkout</h1>
    <div class="row">

      <!-- Checkout Form -->
    <div class="form col-8 offset-1">
      
        <form [formGroup]="checkoutForm">
            <h3>Contact Information</h3>
            <hr>
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First Name" formControlName="first_name">
                  <p *ngIf="first_name.touched && first_name.errors?.['required']" [ngStyle]="{'color': redColor}">First Name is required.</p>
                </div>

                <div class="col">
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name">
                  <p *ngIf="last_name.touched && first_name.errors?.['required']" [ngStyle]="{'color': redColor}">Last Name is required.</p>
                </div>
              </div> <br>

            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email address" formControlName="email">
              <p *ngIf="email.dirty && email.errors?.['email']" [ngStyle]="{'color': redColor}">Please provide a valid email.</p>
              <p *ngIf="email.touched && email.errors?.['required']" [ngStyle]="{'color': redColor}">Please provide a valid email.</p>
              <div class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <h3>Credit Card Information</h3>
            <hr>
            <div class="mb-3">
                <input type="tel" pattern="[0-9]*" maxlength="16" class="form-control" placeholder="Card Number" formControlName="card_number">
                <p *ngIf="card_number.touched && card_number.errors?.['required']" [ngStyle]="{'color': redColor}">Please provide a valid credit card number.</p>
                <p *ngIf="card_number.dirty && card_number.errors?.['minlength']" [ngStyle]="{'color': redColor}">Please provide a valid credit card number.</p>

              </div>
           
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Name of Card Holder" formControlName="card_name">
                <p *ngIf="card_name.touched && card_name.errors?.['required']" [ngStyle]="{'color': redColor}">Please provide a name.</p>
              </div>

              <div class="row">
                <div class="col">
                  <input type="tel" pattern="[0-9]*" maxlength="4" class="form-control" placeholder="Expiration Date mm/yy" formControlName="expiry_date">
                </div>
                <div class="col">
                  <input type="tel" pattern="[0-9]*" maxlength="4" class="form-control" placeholder="Security Code" formControlName="security_number">
                </div>
              </div> <br>

              

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Add me to the email list to get exclusive offers on future products.</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="onPayment()" [disabled]="checkoutForm.invalid">Complete Payment</button>
          </form>
    </div>

    <!-- Order Summary -->
    <div class="col-3 ordersummary">
      <h4 class="text-center my-4">Order Summary</h4>
      <div class="flex-container">
        <h5>Subtotal</h5>
        <p>{{cartTotal | currency }}</p>
      </div>
      <hr>
      <div class="flex-container">
        <h5>TOTAL</h5>
        <p>{{cartTotal | currency }}</p>
      </div>
    </div>
    </div>
</div>
