#filter-outline {
    border: 2px solid #f7cd37;
}

#filter-title {
    background-color: #f7cd37;
    margin-right: auto;
    margin-left: auto;
}

.qty-btn:hover{
    background-color: green;
}

a {
    text-decoration: none;
}