<!-- SubNav -->
<div class="align row">

  <!-- SideNav -->
  <div class="col-1 p-4">
    <div class="top-bar">
      <button class="btn px-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <i class="fa-solid fa-bars fa-3x"></i></button>

      <!-- Side Bar Toggled On -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <img id="side-banner" [src]="banner">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <ul class="dropdown-sidebar">
              <li class="listnav-side my-3"><a class="navlink-side" routerLink="/"><i class="fa-solid fa-atom"></i>
                  Home</a>
              </li>
              <li class="listnav-side my-3"><a class="navlink-side" routerLink="/about"><i
                    class="fa-regular fa-envelope"></i>
                  About</a></li>
              <li class="listnav-side my-3"><a class="navlink-side" routerLink="/shop"><i
                    class="fa-solid fa-bag-shopping"></i> Shop Here</a></li>
              <li class="listnav-side my-3"><a class="navlink-side"
                  href="https://www.teacherspayteachers.com/Store/Steam-Vault" target="_blank"><i
                    class="fa-solid fa-cart-shopping"></i>
                  Shop Teachers Pay Teachers</a></li>
            </ul>
          </div>

          <!-- Sale -->
          <div class="sale p-3">BACK TO SCHOOL SALE {{salePercent + ' OFF!'}}</div><br>
      
          <!-- Socials -->
          <div class="socials p-1">
            <p>Follow Us on Social Media!</p>
            <div class="social-icons p-2">
              <!-- Facebook -->
              <div> <i class="fa-brands fa-facebook fa-2x"></i>  @steamvault</div>


              <!-- Instagram -->
              <div><i class="fa-brands fa-instagram fa-2x"></i>  @steamvault</div>
           
              <!-- Email -->
              <div><i class="fa-solid fa-envelope fa-2x"></i> marwassteamvault@gmail.com</div>

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="col-9">
    <a routerLink="/" id="banner-flex"><img [src]="banner" id="banner"></a>
  </div>

  <!-- Widgets -->
  <div id="subnav" class="mt-3 col-1">
    <!-- <div><img [src]="math" class="widget">
      <p>Math</p>
    </div>
    <div><img [src]="science" class="widget">
      <p>Science</p>
    </div>
    <div><img [src]="art" class="widget">
      <p>Art</p>
    </div>
    <div><img [src]="tech" class="widget">
      <p>Tech</p>
    </div> -->

    <!-- Cart -->
    <div class="p-4">
    <button class="btn position-relative" routerLink="/cart" (click)="getItems()"> <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{cartItems}}<span
          class="visually-hidden">unread messages</span>
      </span><i class="fa-solid fa-cart-shopping fa-2x"></i>
    </button>
    </div>
  </div>

</div>

<div class="widget-bar">
      <div><a routerLink="/shop"><img [src]="math" class="widget"></a>
      <p>Shop</p>
      </div>
    <div><img [src]="science" class="widget">
      <p>Blog</p>
    </div>
    <div><img [src]="tech" class="widget">
      <p>Tech Tips</p>
    </div>
</div>

<router-outlet></router-outlet>



<!-- Footer -->

<footer class="text-center text-lg-start text-dark" style="background-color: white">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4 text-black" style="background-color: #FBB0AE">
    <!-- Left -->
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="#" class="text-black me-4">
        <i class="icofont-facebook"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="icofont-twitter"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="icofont-instagram"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="icofont-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="links">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">STEAM Vault</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p class="footer">
            Subscribe to our email list and stay updated. Join our email newsletter for exclusive offers.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p class="footer">
            <a href="#!" class="text-dark">Ontario Curriculum</a>
          </p>
          <p class="footer">
            <a href="#!" class="text-dark">Interactive Games</a>
          </p>
          <p class="footer">
            <a href="#!" class="text-dark">Real-World Activites</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p class="footer">
            <a href="#!" class="text-dark">Blog</a>
          </p>
          <p class="footer">
            <a href="#!" class="text-dark">TPT Store</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p class="footer"><i class="fas fa-envelope mr-3"></i> steamvault@gmail.com</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #FBB0AE">
    © 2023 Copyright: STEAM Vault
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->