.top-bar{
    display: flex;
    justify-content: space-between;
}

.sale {
    display: flex;
    justify-content: center;
    color: #00509d;
    font-size: 18px;
    background-color: #FBB0AE;
    border-radius: 10px;
}

.active {
    color:white;
}

#banner {
    width: 400px;
    height: 100px;
}

.widget {
    width: 3vw;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.align{
    display: flex;
    justify-content: space-between;
}

#banner-flex{
    display:flex;
    justify-content: center;
}

.widget-bar {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: left;
}

/* New SubNav Bar */
.dropdown-sidebar{
    list-style: none;
}

.navlink-side {
    text-decoration: none;
    text-transform: uppercase;
    color: #00509d;
    font-size: 20px;
    font-weight: bold;
}

.listnav {
    display: inline-block;
}

#side-banner {
    width: 70%;
}

.social-icons{
    border-radius: 10px;
    background-color: #fbd294;
}